@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --slider-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --slider-color: white;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: var(--slider-color);
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--slider-color);
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--slider-color);
    cursor: pointer;
    border-radius: 50%;
    border: none; /* Remove default border in Firefox */
}

.loader {
    position: relative;
}

.loader span {
    opacity: 0;
    animation: fadeInOut 2s ease-in-out infinite;
}

.loader .heart {
    animation-delay: 0s;
}

.loader .laugh {
    animation-delay: -0.5s;
}

.loader .star {
    animation-delay: -1s;
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
