<div class="min-h-screen max-w-2xl mx-auto p-6">
  <h1 class="text-3xl font-bold text-center mb-8 font-gupter">Rom-to-the-Com</h1>

  <div class="mb-8 text-lg font-gupter bg-brand p-2 rounded-sm border border-black">
    <p class="mb-8">How much rom-to-your-com do you want? Sometimes we want to mostly <span class="font-inter text-sm inline-block border border-black px-1 mx-0.5 rounded-sm">cry <span class="loader text-sm inline-block"><span class="heart">♥</span></span></span> and occasionally <span class="font-inter text-sm inline-block border border-black px-1 mx-0.5 rounded-sm">laugh <span class="loader text-sm inline-block"><span class="laugh">☺</span></span></span>, or, mostly laugh and occasionally cry.</p>
    <p>This simple website is to help you find the exact rom-com film for your <span class="font-inter text-sm inline-block border border-black px-1 mx-0.5 rounded-sm">mood <span class="loader text-sm inline-block"><span class="star">✶</span></span></span>.</p>
  </div>

  <div class="w-full mb-8 text-sm">
    <div class="w-full mb-2 grid grid-cols-2 items-center font-bold">
      <span class="text-left">99% Romantic</span>
      <span class="text-right">99% Comedy</span>
    </div>
    <input
      type="range"
      min="0"
      max="100"
      value={"#{@pos}"}
      step="5"
      class="w-full"
      id="rom-com-slider"
      phx-hook="Slider"
    />
    <div class="text-center mt-2 text-sm" id="slider-value">
      <div><%= @rom %>%/<%= @com %>%</div>
      <div>(±5)</div>
    </div>
  </div>

  <table class="w-full mb-8 text-sm">
    <thead>
      <tr class="bg-black dark:bg-white text-white dark:text-black p-2">
        <th class="w-5/6 text-left font-normal underline p-2">Title</th>
        <th class="w-1/6 text-left font-normal underline p-2">Year</th>
        <th class="w-1/6 text-left font-normal underline p-2">Rank</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-dashed divide-black">
      <%= if Enum.empty?(@filtered_films) do %>
        <tr>
          <td colspan="3" class="text-center py-2">No films found for that ranking.</td>
        </tr>
      <% else %>
        <%= for film <- @filtered_films do %>
          <tr class="py-2">
            <td class="w-5/6 py-2"><%= film.title %></td>
            <td class="w-1/6 py-2"><%= film.year %></td>
            <td class="w-1/6 py-2"><%= film.rank.rom %>%/<%= film.rank.com %>%</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <footer>
    <hr class="mb-8 border-black dark:border-white" />
    <div class="text-sm space-y-2">
      <h2 class="font-bold">Colophon</h2>
      <p>The idea for this came about during a road-trip with some friends. We hope you like it.</p>
      <p class="text-right font-gupter text-base"><span class="text-xs">♡</span> Becca, Caroline, <a href="https://www.j-e-s-s-e.com" target="_blank" class="text-brand hover:text-brand-dark dark:text-brand dark:hover:text-brand-dark underline">Jesse</a>, & Kenya</p>
      <h2 class="font-bold">FAQ</h2>
      <h3 class="underline">How was this made?</h3>
      <h4 class="italic">Data</h4>
      <ol class="list-decimal list-inside space-y-2">
        <li> Exported several public rom-com lists from IMDB</li>
        <li> Transformed them</li>
        <li> Asked an LLM (Claude) to rank each of them</li>
      </ol>
      <h4 class="italic">Site</h4>
      <p>Used Elixir with Phoenix, and LiveView.</p>
      <h4 class="italic">Design</h4>
      <p>Just whipped it up.</p>
      <h3 class="underline">What's next?</h3>
      <p>We have several ideas, and are opening to hearing more! We'd like to keep the data "fresh" and to allow people to submit their own rankings, and submit new films.</p>
    </div>
  </footer>
</div>
